*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    /* box-sizing: content-box; */
}
.not-found img{
    max-width: 100%;
    max-height: 100%;
}
body{
    border: solid black 1px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(136, 215, 244), rgb(245, 139, 139));
}
div{
    /* border: solid grey 2px; */
}
.container{
    background-color: white;
    position: relative;
    height: 90px;
    width: 450;
    /* height: auto; */
    overflow: hidden;
    border-radius: 15px;
    padding: 20px;
    transition: all 0.6s ease-out;
}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.search-box input{
    font-size: 25px;
    height: 50px;
    width: 70%;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 82, 111);
    margin: 0px auto;
    border-radius: 25px;
    border: solid black 2px
    /* margin: 0px 5px; */
}
.search-box input::placeholder{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 200;
}
.search-box button{
    position: absolute;
    right: 14px;
    cursor: pointer;
    height:48px;
    width: 48px;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    background-color: black;
}
.search-box button:hover{
    color: white(6, 6, 97);
    font-size: 27px;
    background-color: black
}
.search-box i{
    position: absolute;
    padding-top: 5px;
    text-align: center;
    height:50px;
    width: 50px;
    font-size: 40px;
    color: black;
    left: 10px;
    border-radius: 50%;
    /* border: solid white 1px; */
}
.weather-box{
    /* border: solid grey 2px; */
    text-align: center;
}
.weather-box img{
    width: 60%;
}
.weather-box .temperature{
    /* position: relative; */
    /* border: solid 2px grey; */
    font-size: 46px;
    font-weight: 600;
    color: rgb(19, 84, 88);
}
.description{
    font-size: 26px;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.weather-details .humidity, .weather-details .wind-speed{
    display: flex;
    align-items: flex-end;
    width: 50%;
}
.weather-details .humidity{
    justify-content: flex-start;
}
.weather-details .wind-speed{
    justify-content: flex-end;
}
.wind-speed i, .humidity i{
    font-size: 40px;
    margin-right: 10px;
    color: rgb(19, 84, 88);
}
.weather-details span{

}
.text{
    font-size: 20px;
}
.not-found{
    margin-top: 30px;
    opacity: 0;
    display: none;
}
.weather-box, .weather-details{
    opacity: 0;
} 